<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}">
<style>
    body{
        padding-top : 20px;
        padding-bottom : 20px;
    }
</style>

<body>
<div layout:fragment="content" class="p-5 text-center bg-light">

    <!-- Hero -->

            <div class="container">
                <div class="text-white">
                    <!-- 메뉴들 -->
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="content" sec:authorize="hasAnyRole('ADMIN','MANAGER')">
                            <a href="#">
                                <div class="content-overlay">
                                    <div class="content-details">
                                        <button class="btn btn-large btn-block btn-primary" type="button">로그확인</button>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col hover-overlay ripple shadow-1-strong" sec:authorize="hasRole('ADMIN')">
                            <a href="#">
                                <div class="card h-100">
                                    <div class="card-body">
                                        <h1 class="card-title text-center">회원관리</h1>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col" sec:authorize="hasAnyRole('MANAGER','USER')">
                            <a th:href="@{/user/modify_pwd}">
                                <div class="card h-100">
                                    <div class="card-body">
                                        <h1 class="card-title text-center">비밀번호 변경</h1>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col" sec:authorize="isAuthenticated()">
                            <a th:href="@{/post/list}">
                                <div class="card h-100">
                                    <div class="card-body">
                                        <h1 class="card-title text-center">게시판</h1>
                                    </div>
                                </div>
                            </a>
                        </div>



                    <!-- 메뉴들 끝 -->

                </div>
            </div>
        </div>
    </div>
    <!-- Hero -->



</div>
</body>
</html>